$base-font-size: 15px;
$base-line-height: 23px;

$base-spacing-unit: $base-line-height;
$half-spacing-unit: $base-spacing-unit / 2;
$line-height-ratio: $base-line-height / $base-font-size;

$zindex-1: 10;

$selection-bgrnd: #ffa7c1;
$selection-color: #38414c;

$white: #fff;
$dark: #38414c;
$link: #43baf1;
